<!DOCTYPE html>
<html lang="en">
<head>
  <<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/master.css">
  <<script src=""></script>
  <title>Document</title>
</head>
<body>
  <a href="http://"></a>
  <abbr title=""></abbr>
  <br>
  <frame>
  <hr>
  <input type="text" name="" value="">
  <input type="text" name="" id="">
  <input type="search" name="" id="">
  <input type="file" name="" id="">
  <slect>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </slect>

  <slect>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </slect>

</body>
</html>
